.newsList {
	display: flex;
	flex-direction: column;
	max-width: 1100px;
	margin: 0 auto;
	padding: 1.25rem;
	transition: 0.5s;
	@media (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.pageButtons {
		display: flex;
		flex: 1 0 100%;
		align-items: center;
		justify-content: center;
		margin: $spacer 0;
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 $spacer*0.5;
			padding: $spacer*0.625 $spacer*1.875;
			background-color: $color1;
			border: 0;
			border-radius: 5px;
			color: $white;
			font-size: 1rem;
			cursor: pointer;
			transition: 0.25s;
			&:hover {
				background-color: $color2;
			}
		}
	}
}